@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Account")">Account</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Admin")">Admin</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Cast")">Cast</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Genres")">Genres</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Movies")">Movies</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "User")">User</a>
        </li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
